@model IEnumerable<FotografiaClientePF>
@{
    ViewData["Title"] = "Prodesp - Imprensa Oficial";
}

<form method="post" asp-action="Index">
    <div class="container">
        <h3>Protótipo MongoDB - Captura de Imagem</h3>
        <hr />
        <div class="form-group text-left">
            <label for="arquivo">Informe o local do arquivo de imagem:</label><br />

            <input type="file" class="input-file" />

        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Chave</th>
                        <th class="text-right">Imagem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (FotografiaClientePF fotografia in Model)
                    {
                        <tr>
                            <td>@fotografia.Id</td>
                            <td>
                                @fotografia.PedidoId
                                <input type="hidden" name="imagem" />
                            </td>
                            <td class="text-right">
                                <a asp-action="VisualizarImagem" asp-route-id="@fotografia.Id" class="btn btn-outline-info btn-sm" style="font-size: smaller">Visualizar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="container-img-thumbnail">

            @if (Model != null)
            {
                if (TempData["ID"] != null)
                {
                    int id = int.Parse(TempData["ID"].ToString());
                    var base64 = Convert.ToBase64String(Model.First(f => f.Id == id).Imagem);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <img src="@imgSrc" />
                }
            }

        </div>
    </div>
</form>

